apiVersion: batch/v1
kind: Job
metadata:
  name: frappe-init
  namespace: frappe
spec:
  template:
    spec:
      restartPolicy: OnFailure
      securityContext:
        runAsUser: 1000
      initContainers:
        - name: wait-for-mariadb
          image: artifactory.snifim.blroot/remote_registry_docker_io/busybox
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
          command: ['sh', '-c', 'until nc -z mariadb 3306; do sleep 2; done']
      containers:
        - name: init
          image: artifactory.snifim.blroot/remote_registry_docker_io/frappe/erpnext:v16
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
          command: ["/bin/bash", "-c"]
          args:
            - |
              cd /home/frappe/frappe-bench
              if [ ! -f sites/$SITE_NAME/site_config.json ]; then
                bench new-site $SITE_NAME \
                  --db-host=$DB_HOST \
                  --db-root-password=$DB_ROOT_PASSWORD \
                  --admin-password=$ADMIN_PASSWORD \
                  --no-mariadb-socket
                bench --site $SITE_NAME install-app siud
              fi
              bench --site $SITE_NAME migrate
          envFrom:
            - configMapRef:
                name: frappe-config
          env:
            - name: DB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: frappe-secrets
                  key: DB_ROOT_PASSWORD
            - name: ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: frappe-secrets
                  key: ADMIN_PASSWORD
          volumeMounts:
            - name: sites
              mountPath: /home/frappe/frappe-bench/sites
      volumes:
        - name: sites
          persistentVolumeClaim:
            claimName: frappe-sites
