apiVersion: v1
kind: Service
metadata:
  name: frappe-websocket
  namespace: frappe
spec:
  selector:
    app: frappe-websocket
  ports:
    - port: 9000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frappe-websocket
  namespace: frappe
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frappe-websocket
  template:
    metadata:
      labels:
        app: frappe-websocket
    spec:
      securityContext:
        runAsUser: 1000
      containers:
        - name: websocket
          image: artifactory.snifim.blroot/remote_registry_docker_io/frappe/erpnext:v16
          command: ["node", "/home/frappe/frappe-bench/apps/frappe/socketio.js"]
          envFrom:
            - configMapRef:
                name: frappe-config
          ports:
            - containerPort: 9000
          volumeMounts:
            - name: sites
              mountPath: /home/frappe/frappe-bench/sites
      volumes:
        - name: sites
          persistentVolumeClaim:
            claimName: frappe-sites
